<div ng-form="login" class="form-group">
    <label translate="global.form.username">Login</label>
    <input type="text" class="form-control" name="login" placeholder="{{'global.form.username.placeholder' | translate}}"
           ng-model="loginText" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[a-z0-9]*$/" required>
    <div ng-show="login.$dirty && login.$invalid">
        <p class="help-block"
               ng-show="login.$error.required" translate="register.messages.validate.login.required">
            Your login is required.
        </p>
        <p class="help-block"
               ng-show="login.$error.minlength" translate="register.messages.validate.login.minlength">
            Your login is required to be at least 1 character
        </p>
        <p class="help-block"
               ng-show="login.$error.maxlength" translate="register.messages.validate.login.maxlength">
            Your login cannot be longer than 50 characters
        </p>
        <p class="help-block"
               ng-show="login.$error.pattern" translate="register.messages.validate.login.pattern">
            Your login can only contain lower-case letters and digits
    </p>
    </div>
</div>