<div ng-form="website" class="form-group">
  <label translate="global.form.website">Web site</label>
  <input
    type="url"
    class="form-control"
    name="companyWebsite"
    placeholder="{{'global.form.website.placeholder' | translate}}"
    ng-model="websiteText"
    ng-minlength=10
    ng-maxlength=255
    required>
  <div ng-show="website.$dirty && website.$invalid">
      <p class="help-block"
             ng-show="website.$error.required" translate="global.messages.validate.description.required">
          Your description is required.
      </p>
      <p class="help-block"
             ng-show="website.$error.minlength" translate="global.messages.validate.description.minlength">
          Your description is required to be at least 255 characters
      </p>
      <p class="help-block"
             ng-show="website.$error.maxlength" translate="global.messages.validate.confirmpassword.maxlength">
          Your description cannot be longer than 255 characters
      </p>
  </div>
</div>