<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 translate="settings.title" translate-values="{username: '{{settingsAccount.login}}'}">User settings for [<b>{{settingsAccount.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="success" translate="settings.messages.success">
                <strong>Settings saved!</strong>
            </div>

            <div class="alert alert-danger" ng-show="errorEmailExists" translate="settings.messages.error.emailexists">
                <strong>E-mail is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="error" translate="settings.messages.error.fail">
                <strong>An error has occurred!</strong> Settings could not be saved.
            </div>

            <form name="form" role="form" novalidate ng-submit="save()" show-validation>

                <div class="panel panel-info">
                  <div class="panel-heading">
                    Informations de connexion. Ces informations ne seront pas visibles.
                  </div>
                  <div class="panel-body">
                    <!-- Login -->
                    <div class="form-group">
                        <label translate="global.form.username">Login</label>
                        <input type="text" class="form-control" name="login" placeholder="{{'global.form.username.placeholder' | translate}}"
                               ng-model="settingsAccount.login" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[a-z0-9]*$/" required>
                        <div ng-show="form.login.$dirty && form.login.$invalid">
                            <p class="help-block"
                                   ng-show="form.login.$error.required" translate="register.messages.validate.login.required">
                                Your login is required.
                            </p>
                            <p class="help-block"
                                   ng-show="form.login.$error.minlength" translate="register.messages.validate.login.minlength">
                                Your login is required to be at least 1 character
                            </p>
                            <p class="help-block"
                                   ng-show="form.login.$error.maxlength" translate="register.messages.validate.login.maxlength">
                                Your login cannot be longer than 50 characters
                            </p>
                            <p class="help-block"
                                   ng-show="form.login.$error.pattern" translate="register.messages.validate.login.pattern">
                                Your login can only contain lower-case letters and digits
                        </p>
                        </div>
                    </div>
                    
                    <!-- E-mail -->
                    <div class="form-group">
                        <label translate="global.form.email">E-mail</label>
                        <input type="email" class="form-control" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                               ng-model="settingsAccount.email" ng-minlength=5 ng-maxlength=100 required>
                        <div ng-show="form.email.$dirty && form.email.$invalid">
                            <p class="help-block"
                                   ng-show="form.email.$error.required" translate="global.messages.validate.email.required">
                                Your e-mail is required.
                            </p>
                            <p class="help-block"
                                   ng-show="form.email.$error.email" translate="global.messages.validate.email.invalid">
                                Your e-mail is invalid.
                            </p>
                            <p class="help-block"
                                   ng-show="form.email.$error.minlength" translate="global.messages.validate.email.minlength">
                                Your e-mail is required to be at least 5 characters
                            </p>
                            <p class="help-block"
                                   ng-show="form.email.$error.maxlength" translate="global.messages.validate.email.maxlength">
                                Your e-mail cannot be longer than 100 characters
                            </p>
                        </div>
                    </div>
                    
                  </div>
                </div>

                <!-- Informations identité -->
                <div class="panel panel-warning">
                  <div class="panel-heading">
                    Ces informations seront visibles sur la carte par les visiteurs du site.
                  </div>
                  <div class="panel-body">
                    <!-- Description -->
                     <div class="form-group">
                        <label translate="global.form.description">Description</label>
                        <input type="text" class="form-control" name="description" placeholder="{{'global.form.description.placeholder' | translate}}"
                               ng-model="settingsAccount.description" ng-minlength=10 ng-maxlength=255 required>
                        <p>description valid : {{ form.description.$valid }}</p>
                        <div ng-show="form.description.$dirty && form.description.$invalid">
                            <p class="help-block"
                                   ng-show="form.description.$error.required" translate="global.messages.validate.description.required">
                                Your description is required.
                            </p>
                            <p class="help-block"
                                   ng-show="form.description.$error.minlength" translate="global.messages.validate.description.minlength">
                                Your description is required to be at least 255 characters
                            </p>
                            <p class="help-block"
                                   ng-show="form.description.$error.maxlength" translate="global.messages.validate.confirmpassword.maxlength">
                                Your description cannot be longer than 255 characters
                            </p>
                        </div>
                    </div>
                    
                    <!-- Category -->
                    <div class="form-group">
                        <label translate="global.form.category">Category</label><br/>
                        <select class="form-control"
                          ng-model="settingsAccount.category"
                          ng-options="opt.value as opt.translationKey | translate for opt in categories">
                        </select>
                        <p>Category : {{ settingsAccount.category }}</p>
                    </div>

                    <!-- Company -->
                    <div ng-show="settingsAccount.category == 'COMPANY' || settingsAccount.category == 'ASSOCIATION'">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"
                          ng-model="personInformation"
                          ng-true-value="true"
                          ng-false-value="false">
                          <p ng-if="settingsAccount.category == 'COMPANY'">
                            Ajouter les informations personnelles d'un contact dans l'entreprise (CEO / Acceuil / RH etc.)
                          </p>
                          <p ng-if="settingsAccount.category == 'ASSOCIATION'">
                            Ajouter les informations personnelles d'un contact dans l'association (Président / Pôle communicatio
                          n)</p>
                        </label>
                      </div>
                    <p>personInformation : {{ personInformation }}</p>
                    </div>

                    <!-- Person contact -->
                    <div ng-if="settingsAccount.category == 'STUDENT' ||
                                settingsAccount.category == 'PROFESSOR' ||
                                settingsAccount.category == 'FREELANCE' ||
                                personInformation == true"
                     class="panel panel-default">
                      <div class="panel-heading">
                        <label translate="global.form.contactInformation">Coordonnées</label>
                      </div>
                      <div class="panel-body">
                        <p ng-if="settingsAccount.category == 'STUDENT'">
                          Vous êtes étudiant. Indiquez vos informations de contact. L'adresse est optionnelle.
                        </p>
                                          
                        <p ng-if="settingsAccount.category == 'COMPANY'">
                          Contact dans l'entreprise (secrétaire, RH, patron...).
                        </p>
                      </div>
                      
                      <ul class="list-group">
                        <li class="list-group-item">
                          <!-- Lastname & Firstname -->
                          <div class="row">
                              <!-- First name -->
                              <div class="col-lg-6">
                                <div class="form-group">
                                  <label for="firstname" translate="global.form.firstname">First name</label>
                                  <input type="text"
                                      class="form-control" 
                                      name="firstname"
                                      id="firstname" 
                                      placeholder="{{'global.form.firstname.placeholder' | translate}}"
                                      ng-model="settingsAccount.personContactInformation.firstName"
                                      ng-minlength=2 
                                      ng-maxlength=50
                                      required>
                                    <p>first name valid : {{ form.firstname.$valid }}</p>
                                    <div ng-show="form.firstname.$dirty && form.firstname.$invalid">
                                        <p class="help-block"
                                               ng-show="form.firstname.$error.required" translate="global.messages.validate.firstname.required">
                                            Your firstname is required.
                                        </p>
                                        <p class="help-block"
                                               ng-show="form.firstname.$error.minlength" translate="global.messages.validate.firstname.minlength">
                                            Your firstname is required to be at least 2 characters
                                        </p>
                                        <p class="help-block"
                                               ng-show="form.firstname.$error.maxlength" translate="global.messages.validate.firstname.maxlength">
                                            Your firstname cannot be longer than 50 characters
                                        </p>
                                    </div>
                                </div>
                              </div>
                              
                              <!-- Last name -->
                              <div class="col-lg-6">
                                <div class="form-group">
                                  <label for="lastname" translate="global.form.lastname">Last name</label>
                                  <input
                                    type="text" 
                                    class="form-control" 
                                    name="lastname"
                                    id="lastname" 
                                    placeholder="{{'global.form.lastname.placeholder' | translate}}"
                                    ng-model="settingsAccount.personContactInformation.lastName" 
                                    ng-minlength=2 
                                    ng-maxlength=50 
                                    required>
                                    <p>last name valid : {{ form.lastname.$valid }}</p>
                                    <div ng-show="form.lastname.$dirty && form.lastname.$invalid">
                                        <p class="help-block"
                                               ng-show="form.lastname.$error.required" translate="global.messages.validate.lastname.required">
                                            Your lastname is required.
                                        </p>
                                        <p class="help-block"
                                               ng-show="form.lastname.$error.minlength" translate="global.messages.validate.lastname.minlength">
                                            Your lastname is required to be at least 2 characters
                                        </p>
                                        <p class="help-block"
                                               ng-show="form.lastname.$error.maxlength" translate="global.messages.validate.lastname.maxlength">
                                            Your lastname cannot be longer than 50 characters
                                        </p>
                                    </div>
                                </div>
                              </div>
                          </div>
                        </li>
                        <li class="list-group-item">
                          <!-- Mail & Phone -->
                          <div class="row">
                            <!-- Mail -->
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label for="personMail" translate="global.form.mail"></label>
                                <input type="email"
                                  class="form-control" 
                                  name="personMail"
                                  id="personMail" 
                                  placeholder="{{'global.form.mail.placeholder' | translate}}"
                                  ng-model="settingsAccount.personContactInformation.email" 
                                  ng-minlength=5
                                  ng-maxlength=50
                                  required>
                                  <p>personMail valid : {{ form.personMail.$valid }}</p>
                                  <div ng-show="form.personMail.$dirty && form.personMail.$invalid">
                                      <p class="help-block"
                                             ng-show="form.personMail.$error.required" translate="global.messages.validate.personMail.required">
                                          Your contact e-mail is required.
                                      </p>
                                      <p class="help-block"
                                             ng-show="form.personMail.$error.minlength" translate="global.messages.validate.personMail.minlength">
                                          Your contact e-mail is required to be at least 5 characters
                                      </p>
                                      <p class="help-block"
                                             ng-show="form.personMail.$error.maxlength" translate="global.messages.validate.personMail.maxlength">
                                          Your contact e-mail cannot be longer than 50 characters
                                      </p>
                                      <p class="help-block"
                                         ng-show="form.personMail.$error.email" translate="global.messages.validate.personMail.invalid">
                                          Your contact e-mail is invalid.
                                      </p>
                                  </div>
                              </div>
                            </div>
                                            
                            <!-- Phone -->
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label for="personPhone" translate="global.form.phone"></label>
                                <input type="text"
                                  class="form-control"
                                  name="personPhone"
                                  id="personPhone" 
                                  placeholder="{{'global.form.phone.placeholder' | translate}}"
                                  ng-pattern="/^[0-9]{10}$/"
                                  ng-model="settingsAccount.personContactInformation.phone"
                                  required>
                                  <p>personPhone valid : {{ form.personPhone.$valid }}</p>
                                  <div ng-show="form.personPhone.$dirty && form.personPhone.$invalid">
                                     <p class="help-block"
                                         ng-show="form.personPhone.$error.pattern" translate="global.messages.validate.personPhone.pattern">
                                          Your phone number is invalid.
                                      </p>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item">
                          <!-- Address & Complement -->
                          <div class="row">
                            <!-- Address -->
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label for="personAddress" translate="global.form.address"></label>
                                <input 
                                  type="text" 
                                  class="form-control" 
                                  name="personAddress"
                                  id="personAddress"
                                  placeholder="{{'global.form.address.placeholder' | translate}}"
                                  ng-model="settingsAccount.personContactInformation.address.street" 
                                  ng-minlength=5 ng-
                                  maxlength=50>
                              </div>
                              <p>personAddress valid : {{ form.personAddress.$valid }}</p>
                            </div>
                            <!-- Complement -->
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label for="personAdressComplement" translate="global.form.address.complement"></label>
                                <input 
                                  type="text" 
                                  class="form-control" 
                                  name="personAdressComplement"
                                  id="personAdressComplement"
                                  placeholder="{{'global.form.address.complement.placeholder' | translate}}"
                                  ng-model="settingsAccount.personContactInformation.address.adressComplement">
                              </div>
                            </div>
                            <p>personAdressComplement valid : {{ form.personAdressComplement.$valid }}</p>
                          </div>
                          <!-- BP & Postal code -->
                          <div class="row">
                                        
                              <!-- BP -->
                              <div class="col-lg-6">
                                <div class="form-group">
                                  <label for="personPostOfficeBox" translate="global.form.address.postOfficeBox">Post-office box</label>
                                  <input 
                                    type="number" 
                                    class="form-control" 
                                    name="personPostOfficeBox"
                                    id="personPostOfficeBox" 
                                    placeholder="{{'global.form.address.postOfficeBox.placeholder' | translate}}"
                                    ng-model="settingsAccount.personContactInformation.address.postalBox" 
                                    ng-pattern="/^[0-9]{6}$/">
                                    <p>personPostOfficeBox valid : {{ form.personPostOfficeBox.$valid }}</p>
                                    <div ng-show="form.personPostOfficeBox.$dirty && form.personPostOfficeBox.$invalid">
                                        <p class="help-block"
                                               ng-show="form.personPostOfficeBox.$error.pattern" translate="global.messages.validate.personPostOfficeBox.pattern">
                                            Your post-office box must be 6 numbers.
                                        </p>
                                    </div>
                                </div>
                              </div>

                              <!-- Postal code -->
                              <div class="col-lg-6">
                                <div class="form-group">
                                  <label for="personPostalCode" translate="global.form.address.postalCode">Postal code</label>
                                  <input
                                    type="number" 
                                    class="form-control" 
                                    name="personPostalCode"
                                    id="personPostalCode"
                                    placeholder="{{'global.form.address.postalCode.placeholder' | translate}}"
                                    ng-model="settingsAccount.personContactInformation.address.postalCode" 
                                    ng-pattern="/^[0-9]{6}$/" 
                                    required>
                                  <p>personPostalCode valid : {{ form.personPostalCode.$valid }}</p>
                                  <div ng-show="form.personPostalCode.$dirty && form.personPostalCode.$invalid">
                                      <p class="help-block"
                                             ng-show="form.personPostalCode.$error.pattern" translate="global.messages.validate.personPostalCode.pattern">
                                          Your BP must be 6 numbers.
                                      </p>
                                  </div>
                                </div>
                              </div>
                          </div>
                          <!-- City -->
                          <div class="form-group">
                            <label for="personCity" translate="global.form.address.city"></label>
                            <input
                              type="text" 
                              class="form-control" 
                              name="personCity"
                              id="personCity" 
                              placeholder="{{'global.form.address.city.placeholder' | translate}}"
                              ng-model="settingsAccount.personContactInformation.address.city"
                              required>
                          </div>
                          <p>personCity valid : {{ form.personCity.$valid }}</p>
                        </li>
                        <li class="list-group-item">                
                          <!-- Website -->
                          <div class="form-group">
                            <label translate="global.form.website">Web site</label>
                            <input type="url" class="form-control" name="personWebsite" placeholder="{{'global.form.website.placeholder' | translate}}"
                                   ng-model="settingsAccount.personContactInformation.website" ng-minlength=10 ng-maxlength=255 required>
                            <p>website valid : {{ form.personWebsite.$valid }}</p>
                            <div ng-show="form.description.$dirty && form.description.$invalid">
                                <p class="help-block"
                                       ng-show="form.description.$error.required" translate="global.messages.validate.description.required">
                                    Your description is required.
                                </p>
                                <p class="help-block"
                                       ng-show="form.description.$error.minlength" translate="global.messages.validate.description.minlength">
                                    Your description is required to be at least 255 characters
                                </p>
                                <p class="help-block"
                                       ng-show="form.description.$error.maxlength" translate="global.messages.validate.confirmpassword.maxlength">
                                    Your description cannot be longer than 255 characters
                                </p>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item">
                          <!-- Social Networks -->
                          <div class="form-group">
                              <label translate="global.form.socialNetwork">Social Networks</label>
                        
                              <ul ng-form="itemsForm">
                                  <li ng-repeat="item in personSocialNetworkList" ng-form="itemForm">
                                      <label for="itemText">Entrée</label>
                                        <select ng-model="item.type">
                                          <option value="FACEBOOK">Facebook</option>
                                          <option value="TWITTER">Twitter</option>
                                          <option value="LINKEDIN">LinkedIn</option>
                                          <option value="GOOGLE_PLUS">Google Plus</option>
                                          <option value="VIADEO">Viadeo</option>
                                      </select>
                                      <input name="itemText" type="text" ng-model="item.address" required />
                                      <ul ng-show="itemForm.$invalid && itemForm.$dirty">
                                           <li ng-show="itemForm.itemText.$error.required">This field is required.</li>
                                       </ul>
                                   </li>
                               </ul>
                        
                               <button ng-click="addElement(personSocialNetworkList)" ng-disabled="itemsForm.$invalid">Add an element</button>
                              <p>social valid : {{ form.SocialNetwork.$valid }}</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                      
                    
                    
                    <!-- Company contact -->
                    <div class="panel panel-default" ng-if="settingsAccount.category == 'COMPANY' || settingsAccount.category == 'ASSOCIATION'">
                      <div class="panel-heading">
                        <label translate="global.form.companyInformation">Company information</label>
                      </div>
                      <ul class="list-group">
                        <li class="list-group-item">
                          <!-- Company name -->
                          <div class="form-group">
                             <label translate="global.form.name">Name</label>
                             <input type="text" class="form-control" name="companyCompanyName" placeholder="{{'global.form.name.placeholder' | translate}}"
                                    ng-model="settingsAccount.companyContactInformation.companyName" ng-minlength=10 ng-maxlength=50 required>
                             <p> form.companyName valid : {{ form.companyName.$valid }}</p>
                             <div ng-show="form.companyCompanyName.$dirty && form.companyCompanyName.$invalid">
                                 <p class="help-block"
                                        ng-show="form.companyCompanyName.$error.required" translate="global.messages.validate.companyCompanyName.required">
                                     Your companyCompanyName is required.
                                 </p>
                                 <p class="help-block"
                                        ng-show="form.companyCompanyName.$error.minlength" translate="global.messages.validate.companyCompanyName.minlength">
                                     Your companyCompanyName is required to be at least 50 characters
                                 </p>
                             </div>
                          </div>
                        </li>
                        <li class="list-group-item">
                          <!-- Mail & Phone -->
                          <div class="row">
                            <!-- Mail -->
                            <div class="col-lg-6">
                             <div class="form-group">
                                <label for="companyMail" translate="global.form.mail">E-mail</label>
                                <input type="email"
                                   class="form-control" 
                                   name="companyMail" 
                                   id="companyMail" 
                                   placeholder="{{'global.form.mail.placeholder' | translate}}"
                                   ng-model="settingsAccount.companyContactInformation.email" 
                                   ng-minlength=5 
                                   ng-maxlength=50 
                                   required>
                             </div>
                                <p>companyMail valid : {{ form.companyMail.$valid }}</p>
                                <div ng-show="form.companyMail.$dirty && form.companyMail.$invalid">
                                    <p class="help-block"
                                           ng-show="form.companyMail.$error.required" translate="global.messages.validate.personMail.required">
                                        Your contact e-mail is required.
                                    </p>
                                    <p class="help-block"
                                           ng-show="form.companyMail.$error.minlength" translate="global.messages.validate.personMail.minlength">
                                        Your contact e-mail is required to be at least 5 characters
                                    </p>
                                    <p class="help-block"
                                           ng-show="form.companyMail.$error.maxlength" translate="global.messages.validate.personMail.maxlength">
                                        Your contact e-mail cannot be longer than 50 characters
                                    </p>
                                    <p class="help-block"
                                       ng-show="form.companyMail.$error.email" translate="global.messages.validate.personMail.invalid">
                                        Your contact e-mail is invalid.
                                    </p>
                                </div>
                            </div>
                                                
                                                
                            <!-- Phone -->
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label for="companyPhone" translate="global.form.phone">Phone</label>
                                <input type="text" 
                                  class="form-control" 
                                  name="companyPhone"
                                  id="companyPhone"
                                  placeholder="{{'global.form.phone.placeholder' | translate}}"
                                  ng-pattern="/^[0-9]{10}$/" 
                                  ng-model="settingsAccount.companyContactInformation.phone" 
                                  required>
                              </div>
                                <p>companyPhone valid : {{ form.companyPhone.$valid }}</p>
                                <div ng-show="form.companyPhone.$dirty && form.companyPhone.$invalid">
                                   <p class="help-block"
                                       ng-show="form.companyPhone.$error.pattern" translate="global.messages.validate.companyPhone.pattern">
                                        Your phone number is invalid.
                                    </p>
                                </div>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item">
                          <!-- Address & Complement -->
                          <div class="row">
                              <!-- Address -->
                              <div class="col-lg-6">
                                <div class="form-group">
                                  <label for="companyAddress" translate="global.form.address">Address</label>
                                  <input type="text" 
                                    class="form-control" 
                                    name="companyAddress" 
                                    id="companyAddress" 
                                    placeholder="{{'global.form.address.placeholder' | translate}}"
                                    ng-model="settingsAccount.companyContactInformation.address.street" 
                                    ng-minlength=5 
                                    ng-maxlength=50>
                                </div>
                                <p>companyAddress valid : {{ form.companyAddress.$valid }}</p>
                              </div>
                                                
                              <!-- Complement -->
                              <div class="col-lg-6">
                                <div class="form-group">
                                  <label for="companyAdressComplement" translate="global.form.address.complement.placeholder">Address complement</label>
                                  <input type="text" 
                                    class="form-control" 
                                    name="companyAdressComplement" 
                                    id="companyAdressComplement" 
                                    placeholder="{{'global.form.address.complement.placeholder' | translate}}"
                                    ng-model="settingsAccount.companyContactInformation.address.adressComplement">
                                </div>
                              </div>
                              <p>companyAdressComplement valid : {{ form.companyAdressComplement.$valid }}</p>
                          </div>
                                                
                          <!-- BP & Postal code -->
                          <div class="row">
                            <!-- BP -->
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label for="companyPostOfficeBox" translate="global.form.address.postOfficeBox">Post-office box</label>
                                <input type="number" 
                                  class="form-control" 
                                  name="companyPostOfficeBox" 
                                  id="companyPostOfficeBox" 
                                  placeholder="{{'global.form.address.postOfficeBox.placeholder' | translate}}"
                                  ng-model="settingsAccount.companyContactInformation.address.postalBox" 
                                  ng-pattern="/^[0-9]{6}$/">
                              </div>
                              <p>companyPostOfficeBox valid : {{ form.companyPostOfficeBox.$valid }}</p>
                              <div ng-show="form.companyPostOfficeBox.$dirty && form.companyPostOfficeBox.$invalid">
                                  <p class="help-block"
                                         ng-show="form.companyPostOfficeBox.$error.pattern" translate="global.messages.validate.personPostOfficeBox.pattern">
                                      Your post-office box must be 6 numbers.
                                  </p>
                              </div>
                            </div>
                                            
                            <!-- Postal code -->
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label for="companyPostalCode" translate="global.form.address.postalCode">Postal code</label>
                                <input type="number" 
                                  class="form-control" 
                                  name="companyPostalCode" 
                                  id="companyPostalCode" 
                                  placeholder="{{'global.form.address.postalCode.placeholder' | translate}}"
                                  ng-model="settingsAccount.companyContactInformation.address.postalCode" 
                                  ng-pattern="/^[0-9]{6}$/" 
                                  required>
                              </div>
                                          
                                <p>companyPostalCode valid : {{ form.companyPostalCode.$valid }}</p>
                                <div ng-show="form.companyPostalCode.$dirty && form.companyPostalCode.$invalid">
                                    <p class="help-block"
                                           ng-show="form.companyPostalCode.$error.pattern" translate="global.messages.validate.personPostalCode.pattern">
                                        Your BP must be 6 numbers.
                                    </p>
                                </div>
                            </div>
                          </div>
                                                                                          
                                            
                          <!-- City -->
                          <div class="form-group">
                            <label for="companyCity" translate="global.form.address.city">City</label>
                            <input type="text" 
                              class="form-control" 
                              name="companyCity" 
                              id="companyCity" 
                              placeholder="{{'global.form.address.city.placeholder' | translate}}"
                              ng-model="settingsAccount.companyContactInformation.address.city" 
                              required>
                            <p>companyCity valid : {{ form.companyCity.$valid }}</p>
                          </div>
                        </li>
                        <li class="list-group-item">                                                  
                          <div class="form-group">
                            <label translate="global.form.website">Web site</label>
                            <input type="url" class="form-control" name="companyWebsite" placeholder="{{'global.form.website.placeholder' | translate}}"
                                   ng-model="settingsAccount.companyContactInformation.website" ng-minlength=10 ng-maxlength=255 required>
                            <p>companyWebsite valid : {{ form.companyWebsite.$valid }}</p>
                            <div ng-show="form.description.$dirty && form.description.$invalid">
                                <p class="help-block"
                                       ng-show="form.description.$error.required" translate="global.messages.validate.description.required">
                                    Your description is required.
                                </p>
                                <p class="help-block"
                                       ng-show="form.description.$error.minlength" translate="global.messages.validate.description.minlength">
                                    Your description is required to be at least 255 characters
                                </p>
                                <p class="help-block"
                                       ng-show="form.description.$error.maxlength" translate="global.messages.validate.confirmpassword.maxlength">
                                    Your description cannot be longer than 255 characters
                                </p>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item">                        
                          <!-- Social Networks -->
                          <div class="form-group">
                            <label translate="global.form.socialNetwork">Social Networks</label>
                                                
                            <ul ng-form="itemsForm">
                                <li ng-repeat="item in companySocialNetworkList" ng-form="itemForm">
                                    <label for="itemText">Entrée</label>
                                      <select ng-model="item.type">
                                        <option value="FACEBOOK">Facebook</option>
                                        <option value="TWITTER">Twitter</option>
                                        <option value="LINKEDIN">LinkedIn</option>
                                        <option value="GOOGLE_PLUS">Google Plus</option>
                                        <option value="VIADEO">Viadeo</option>
                                    </select>
                                    <input name="itemText" type="text" ng-model="item.address" required />
                                    <ul ng-show="itemForm.$invalid && itemForm.$dirty">
                                         <li ng-show="itemForm.itemText.$error.required">This field is required.</li>
                                     </ul>
                                 </li>
                             </ul>
                                                
                             <button ng-click="addElement(companySocialNetworkList)" ng-disabled="itemsForm.$invalid">Add an element</button>
                            <p>social valid : {{ form.SocialNetwork.$valid }}</p>
                          </div>
                        </li>
                      </ul>    
                    </div>

                    <!-- SIREN -->
                    <div ng-if="settingsAccount.category == 'FREELANCE' || settingsAccount.category == 'COMPANY'"
                    class="form-group">
                      <label for="siren" translate="global.form.siren">SIREN</label>
                      <input type="text" class="form-control" name="siren" placeholder="{{'global.form.siren.placeholder' | translate}}"
                             ng-model="settingsAccount.siren" ng-minlength=10 ng-maxlength=255 required>
                      <p>siren valid : {{ form.siren.$valid }}</p>
                    </div>

                    <!-- Numéro déclaratif Association -->
                    <div ng-if="settingsAccount.category == 'ASSOCIATION'"
                    class="form-group">
                      <label for="associationNumber" translate="global.form.associationNumber">Association number</label>
                      <input type="text" class="form-control" name="associationNumber" placeholder="{{'global.form.associationNumber.placeholder' | translate}}"
                             ng-model="settingsAccount.associationNumber" ng-minlength=10 ng-maxlength=255 required>
                      <p>associationNumber valid : {{ form.associationNumber.$valid }}</p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-info">
                  <div class="panel-heading">
                    Informations professionnels
                  </div>
                  <div class="panel-body">
                    <!-- Sectors -->
                    <div class="form-group">
                      <label>Sectors</label>
                      <div class="row">
                        
                        <div ng-repeat="item in sectors">
                          <div class="col-md-4">
                            <span>{{ item.name }}</span><br/>
                          </div>
                          
                          <div class="col-md-2">
                            <input type="checkbox"
                              ng-model="item.checked" 
                              ng-true-value="true" 
                              ng-false-value="false">
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <!-- Fields -->
                    <div class="form-group">
                      <label>Fields</label>
                      <div class="row">
                        
                        <div ng-repeat="item in fields">
                          <div class="col-md-4">
                            <span>{{ item.name }}</span><br/>
                          </div>
                          
                          <div class="col-md-2">
                            <input type="checkbox"
                              ng-model="item.checked" 
                              ng-true-value="true" 
                              ng-false-value="false">
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <!-- Competencies -->
                    <div class="form-group">
                     <label>Competencies</label>
                      <tags-input ng-model="competenciesSelected"
                        display-property="name"
                        placeholder="Add a competence / Ajouter une compétence"
                        add-on-space="true"
                        min-length="1"
                        add-from-autocomplete-only="true">
                        <auto-complete source="loadTags($query)"
                          display-property="name"
                          min-length="1"
                          max-results-to-show="5"></auto-complete>
                      </tags-input>
                    </div>
                  </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="settings.form.button">Save</button>
            </form>
        </div>
    </div>

</div>
