<div class="flex-container sub-container" ng-cloak="">
    <div class="flex-component map">
        <leaflet
                center="center"
                width="100%" height="100%"
                markers="markersFiltered"
                defaults="defaults">
        </leaflet>

    </div>
    <!-- HERE START THE OPTIONS SIDEBAR -->
    <div class="flex-component map-options">

    <!-- Affichage du nombre de résultats -->
    <div ng-click="button()" class="resultDiv">
        Résultat : 
        <div class="result">
            <span class="markersfilteredResult">
                {{markersFiltered.length}}
            </span> / 
            <span class="markersResult">
                {{markers.length}} 
            </span>
        </div>
    </div>

    <input type="text" class="search-input" placeholder="Search" ng-model="markerFilter" />
    <br/>
    <br/>

    <!-- Liste d'options -->
    <ul class="list-group">
        
        <!-- Déclenche l'ouverture / fermeture du block d'option -->
        <li class="list-group-item" ng-click="isCollapsed = !isCollapsed">
            <center>
                <h4 class="list-group-item-heading">Options</h4>
            </center>
        </li>

        <!-- Sorting Criterias -->
        <div collapse="isCollapsed">
            
            <li class="list-group-item"
                ng-click="isCollapsedCat = !isCollapsedCat">
                <h4 class="list-group-item-heading">Categories</h4>
            </li>
            
            <div collapse="isCollapsedCat">
                <li class="list-group-item"
                    ng-class="{active: cat.checked=='true'}"
                    ng-repeat="cat in categories"
                    ng-click="selectCategory($index)">
                    <div ng-class="{active: cat.checked=='true'}">
                        <img ng-src="{{ cat.icon }}">
                        {{ cat.translationKey | translate }}
                    </div>
                </li>
            </div>

            <li class="list-group-item" ng-click="isCollapsedField = !isCollapsedField">
                <h4 class="list-group-item-heading">Domaines</h4>
            </li>

            <div collapse="isCollapsedField">
                <li class="list-group-item"
                    ng-class="{active: field.checked=='true'}"
                    ng-repeat="field in fields"
                    ng-click="selectField($index)">
                    <div ng-class="{active: field.checked=='true'}">
                        {{ field.name }}
                    </div>
                </li>
            </div>


        </div>
        

    </ul>

        <div class="scrollBlock">
            

            <div class="markerslist" ng-repeat="marker in markersFiltered">

                <div class="markerIcon"> <img ng-mouseover="marker.detail = true" ng-click="goToMarker(marker); marker.detail = true" src="{{marker.icon.iconMenuUrl}}"/> </div>

                    <div class="markerBlock" id="{{marker.name}}">

                        <!-- Si le marker est une celui d'une entreprise -->
                        <div ng-if="null != marker.companyContactInformation">
                            <!-- Title -->
                            <div class="markerTitle" ng-if="null != marker.companyContactInformation">{{marker.companyContactInformation.name}} </div>

                            <!-- Description -->
                            <div class="markerDescription" >{{marker.description}}</div>

                            <!-- Adresse -->
                            <div class="markerAdresse">{{marker.adresse}}</div>

                            <!-- Website -->
                            <div class="markerWebSite" ng-if="null != marker.companyContactInformation && null != marker.companyContactInformation.website">
                                Web :
                                <a class="link" href="{{marker.companyContactInformation.website}}">{{marker.companyContactInformation.website}} </a>
                            </div>

                            <!-- Social Network -->
                            <div ng-show="marker.detail" class="socialNetWork" ng-repeat="socialNetwork in marker.companyContactInformation.socialNetworkList">
                                <div>{{socialNetwork.type | capitalize }} : {{socialNetwork.address}} </div>
                            </div>

                            <!-- Contact -->
                            <div class="markerGrayInput" ng-if="null != marker.personContactInformation"> Contact : {{marker.personContactInformation.firstName}} {{marker.personContactInformation.lastName}}</div>

                        </div>

                        <!-- Si le marker est celui d'un freelance, professeur, étudiant -->
                        <div ng-if="null == marker.companyContactInformation">
                             <div class="markerTitle" ng-if="null != marker.personContactInformation">
                                {{marker.personContactInformation.firstName}} {{marker.personContactInformation.lastName}}
                             </div>

                            <!-- Description -->
                            <div class="markerDescription" >{{marker.description}}</div>

                            <!-- Adresse -->
                            <div class="markerAdresse">{{marker.adresse}}</div>

                            <div class="markerGrayInput">{{marker.personContactInformation.email}}</div>

                            <!-- Website -->
                            <div class="markerWebSite" ng-if="null != marker.personContactInformation && null != marker.personContactInformation.website">
                              Web :
                            <a class="link" href="{{marker.personContactInformation.website}}">{{marker.personContactInformation.website}} </a>
                            </div>

                            <!-- Social Network -->
                            <div ng-show="marker.detail" class="socialNetWork" ng-repeat="socialNetwork in marker.personContactInformation.socialNetworkList">
                                <div>{{socialNetwork.type | capitalize }} : {{socialNetwork.address}} </div>
                            </div>


                        </div>


                        <!-- Details -->
                        <div ng-show="marker.detail">
                            <div class="markerCompetence" ng-if="marker.competencies.length != 0">Compétences :
                                <span ng-repeat="competence in marker.competencies">
                                    <span ng-click="search(competence, null, null)" 
                                    class="competenceList">
                                        {{competence}}
                                    </span>
                                </span>
                            </div>

                            <div class="markerSector" ng-if="marker.sectors.length != 0">Secteurs :
                                <span ng-repeat="sector in marker.sectors">
                                    <span ng-click="search(null, sector, null)"
                                    class="competenceList">
                                        {{sector}}
                                    </span>
                                </span>
                            </div>

                            <div class="markerDomain" ng-if="marker.fields.length != 0">Domaines :
                                <span ng-repeat="field in marker.fields">
                                    <span ng-click="search(null, null, field)"
                                    class="competenceList">
                                        {{field | capitalize }}
                                    </span>
                                </span>
                            </div>
                       </div>
                  </div>
            </div>
        </div>
    </div>
</div>
