body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
Developement Ribbon
========================================================================== */
.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.search-input {
    width: 100%;
    color: #BABABA;
    font-size: 16px;
    font-weight: 300;
    float: left;
    border-left: 1px solid #eeeeee;
}

.search {
    width: 15%;
    cursor: pointer;

}



.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.alert .popover pre {
    font-size: 10px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */


/* CSS PERS */

/*.main-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    margin: 0;
    text-align: center;
}
*/
.sub-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    height: 100%;
}

.flex-component.map-options {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 300px;
    margin: 60px 10px 20px auto;
    padding: 0 0px 0 0px;
    border: 1px solid #eeeeee;
    box-shadow: 2px 2px 2px #888;
  /*  background-color: rgba(248, 248, 248, 0.8); */
    background-color: white;
    overflow-y: scroll

}

.flex-component.map {
    width: 100%;
    height: 100%;
    z-index: 0;
}

table {
    table-layout:fixed;
}

.div-table-content-data-settings {
  height:200px;
  overflow-y:auto;
}

.div-table-content-users {
  height:600px;
  overflow-y:auto;
}


.modal-backdrop
{
 position: fixed;
 top: 0px;
 left: 0px;
 height:100%;
 width:100%;
 background: #000;
 z-index: 1;
 opacity: 0.5;
}

.markerIcon{

    float: left;
    margin-left: 5px
}

.markerBlock {
    margin-left: 45px

    /* padding-top: 15px; */

}

.markerAdresse{
    color: #777777;
    margin-bottom: 10px;
}

.markerTitle{
    font-size: 20px;
    color: #999999;
    margin-bottom: 10px;

}

.markerDescription{
    margin-bottom: 10px;
    color: #777777;
}

.markerWebSite{

}

.markerslist{

    border-bottom: 1px solid #eeeeee;
    margin-bottom: 10px;
}



.modal-holder
{
  position: absolute; 
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: transparent;
  z-index: 2;
  padding: 30px 15px;
}

.modal-box
{
  margin: 0 auto;
  width: 80%;
  background: #fff;
  padding: 0;
  border-radius: 4px;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
  position: relative;
  margin-bottom: 50px;
}
 
@media screen and (min-width: 992px)
{
  .Modal-box
  {
    width: 60%;
    padding: 30px;
  }
}
