<!-- Compétences -->
<div class="panel panel-default">
  <div class="panel-body">
    <div class="table-responsive">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th translate="schoolName">School name</th>
              <th>
                <input type="text"
                  ng-model="querySchool"
                  class="form-control"
                  placeholder="Search..."></th>
            </tr>
          </thead>
      </table>
      <div class="div-table-content-data-settings">
        <table class="table table-striped table-hover table-condensed">
            <tbody>
              <tr ng-repeat="school in schools | filter:{name: querySchool} | orderBy: 'name'">
                  <td>{{school.name}}</td>
                  <td>
                      <div class="btn-group" role="group" aria-label="...">
                        <button type="submit"
                                ng-click="open('view', school)"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"
                                title="{{ 'entity.action.view' | translate }}"></span>&nbsp;
                        </button>
                        <button type="submit"
                                ng-click="open('edit', school)"
                                
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"
                                title="{{ 'entity.action.edit' | translate }}"></span>&nbsp;
                        </button>
                        <button type="submit"
                                ng-click="delete(school.login)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"
                                title="{{ 'entity.action.delete' | translate }}"></span>&nbsp;
                        </button>
                    </div>
                  </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
    <div class="panel-footer">
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveCompetenceModal" ng-click="open('create')">
          <span class="glyphicon glyphicon-flash"></span> <span translate="createSchool">Add a new school</span>
      </button>
    </div>
</div>