 <div>
   <div class="modal fade" id="deleteUserConfirmation">
     <div class="modal-dialog">
        <div class="modal-content">

            <form name="form" ng-submit="confirmDelete(user.login)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                </div>
                <div class="modal-body">
                    <p translate="user.delete.question" translate-values="{login: '{{user.login}}'}">Are you sure you want to delete this user {{user.login}}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
               <!--     <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger"> -->
                    <button type="submit"  class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                    </button>
                </div>
            </form>
           </div>
     </div>
   </div>

    <!-- <span translate="user.search"> Recherche : </span> -->


    <div class="panel panel-default">
        <div class="panel-heading">
            <input type="text" class="form-control" id="query" ng-model="query" placeholder="Search..."/>
            <input type="radio" name="validerByAdmin" ng-model="query.user.validatedByAdmin" value="validerByAdmin">Female
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>Login</th>
                            <th translate="user.companyContactInformation.companyName">Company Name</th>
                            <th translate="user.personContactInformation.firstName">First Name</th>
                            <th translate="user.personContactInformation.lastName">Last Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
                <div class="div-table-content-users">
                    <table class="table table-striped table-hover table-condensed table-bordered">
                        <tbody>
                            <tr ng-repeat="user in users | filter : query">
                                <td><a ui-sref="userDetail({login:user.login})" ng-class="{'text-danger' : !user.validatedByAdmin, 'text-success' : user.validatedByAdmin}" ><strong>{{user.login}}</strong></a></td>
                                <td>{{user.companyContactInformation.companyName}}</td>
                                <td>{{user.personContactInformation.lastName}}</td>
                                <td>{{user.personContactInformation.firstName}}</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="...">
                                        <button type="submit"
                                                ui-sref="userDetail({login:user.login})"
                                                class="btn btn-info">
                                            <span class="glyphicon glyphicon-eye-open"
                                                title="{{ 'entity.action.view' | translate }}"></span>&nbsp;
                                        </button>
                                        <button type="submit"
                                                ng-click="update(user.login)"
                                                class="btn btn-primary">
                                            <span class="glyphicon glyphicon-pencil"
                                                title="{{ 'entity.action.edit' | translate }}"></span>&nbsp;
                                        </button>
                                        <button type="submit"
                                                ng-click="validate(user.login)"
                                                class="btn btn-success">
                                            <span class="glyphicon glyphicon-thumbs-up"
                                                  title="{{ 'entity.action.validate' | translate }}"></span>&nbsp;
                                        </button>
                                        <button type="submit"
                                                ng-click="delete(user.login)"
                                                class="btn btn-danger">
                                            <span class="glyphicon glyphicon-remove-circle"
                                                title="{{ 'entity.action.delete' | translate }}"></span>&nbsp;
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


   <!-- TODO le formulaire n'est pas complet et sa validation n'est pas activé
        TODO la sauvegarde des modification n'est pas effective
    -->

     <div class="modal fade" id="saveUserModal" tabindex="-1" role="dialog" aria-labelledby="myUserLabel"
          aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content">

                 <!-- Messages d'erreurs pour la validation du formulaire -->

                 <div class="alert alert-success" ng-show="success" translate="settings.messages.success">
                     <strong>Settings saved!</strong>
                 </div>

                 <div class="alert alert-danger" ng-show="errorEmailExists" translate="settings.messages.error.emailexists">
                     <strong>E-mail is already in use!</strong> Please choose another one.
                 </div>

                 <div class="alert alert-danger" ng-show="error" translate="settings.messages.error.fail">
                     <strong>An error has occurred!</strong> Settings could not be saved.
                 </div>


                 <form name="form" role="form" novalidate
                       class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                       ng-submit="create()">

                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                 ng-click="clear()">&times;</button>
                         <h4 class="modal-title" id="myUserLabel" translate="user.home.createOrEditLabel">Create or edit a User</h4>
                     </div>


                     <div class="modal-body">
                         <div class="form-group">
                             <label>Login</label>
                             <input type="text" class="form-control" name="id"
                                    ng-model="user.login" readonly>
                         </div>






                               <!-- user-detail à inclure ici -->
                         <div class="form-group">
                             <label translate="global.form.email">E-mail</label>
                             <input type="email" class="form-control" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                                    ng-model="user.email" ng-minlength=5 ng-maxlength=100 required maxlength="100" required>
                             <div ng-show="form.email.$dirty && form.email.$invalid">
                                 <p class="help-block"
                                    ng-show="form.email.$error.required" translate="global.messages.validate.email.required">
                                     Your e-mail is required.
                                 </p>
                                 <p class="help-block"
                                    ng-show="form.email.$error.email" translate="global.messages.validate.email.invalid">
                                     Your e-mail is invalid.
                                 </p>
                                 <p class="help-block"
                                    ng-show="form.email.$error.minlength" translate="global.messages.validate.email.minlength">
                                     Your e-mail is required to be at least 5 characters
                                 </p>
                                 <p class="help-block"
                                    ng-show="form.email.$error.maxlength" translate="global.messages.validate.email.maxlength">
                                     Your e-mail cannot be longer than 100 characters
                                 </p>
                             </div>
                         </div>

                         <!-- Description -->
                         <div class="form-group">
                             <label translate="global.form.description">Description</label>
                             <input type="text" class="form-control" name="description" placeholder="{{'global.form.description.placeholder' | translate}}"
                                    ng-model="user.description" ng-minlength=10 ng-maxlength=255 required>
                             <p>description valid : {{ form.description.$valid }}</p>
                             <div ng-show="form.description.$dirty && form.description.$invalid">
                                 <p class="help-block"
                                    ng-show="form.description.$error.required" translate="global.messages.validate.description.required">
                                     Your description is required.
                                 </p>
                                 <p class="help-block"
                                    ng-show="form.description.$error.minlength" translate="global.messages.validate.description.minlength">
                                     Your description is required to be at least 255 characters
                                 </p>
                                 <p class="help-block"
                                    ng-show="form.description.$error.maxlength" translate="global.messages.validate.confirmpassword.maxlength">
                                     Your description cannot be longer than 255 characters
                                 </p>
                             </div>
                         </div>

                         <!-- Category -->
                         <div class="form-group">
                             <label translate="global.form.category">Category</label><br/>
                             <div class="container-fluid">
                                 <div class="row">
                                     <div class="col-md-8">
                                         <input type="radio" ng-model="user.category" value="STUDENT" ><span translate="register.form.category.student">Étudiant</span>
                                     </div>
                                     <div class="col-md-4">
                                         <input type="radio" ng-model="user.category" value="PROFESSOR" ><span translate="register.form.category.professor">Professeur</span>
                                     </div>
                                 </div>
                                 <div class="row">
                                     <div class="col-md-8">
                                         <input type="radio" ng-model="user.category" value="FREELANCE" ><span translate="register.form.category.freelance">Freelance</span>
                                     </div>
                                     <div class="col-md-4">
                                         <input type="radio" ng-model="user.category" value="COMPANY" ><span translate="register.form.category.company">Entreprise</span>
                                     </div>
                                 </div>
                             </div>
                             <p>Category : {{ user.category }}</p>
                         </div>

                         <!-- Person contact -->
                         <div class="form-group" ng-if="user.category">

                         <label translate="global.form.contactInformation">Coordonnées</label>

                         <p ng-if="user.category == 'STUDENT'">
                             Vous êtes étudiant. Indiquez vos informations de contact. L'adresse est optionnelle.
                         </p>

                         <p ng-if="user.category == 'COMPANY'">
                             Contact dans l'entreprise (secrétaire, RH, patron...).
                         </p>

                         <!-- Lastname & Firstname -->
                         <div class="row">

                             <!-- Prenom -->
                             <div class="col-md-2">
                                 <span translate="global.form.firstname">First name</span>
                             </div>

                             <div class="col-md-4">
                                 <input type="text" class="form-control" name="firstname" placeholder="{{'global.form.firstname.placeholder' | translate}}"
                                        ng-model="user.personContactInformation.firstName" ng-minlength=2 ng-maxlength=50 required>
                                 <p>first name valid : {{ form.firstname.$valid }}</p>
                                 <div ng-show="form.firstname.$dirty && form.firstname.$invalid">
                                     <p class="help-block"
                                        ng-show="form.firstname.$error.required" translate="global.messages.validate.firstname.required">
                                         Your firstname is required.
                                     </p>
                                     <p class="help-block"
                                        ng-show="form.firstname.$error.minlength" translate="global.messages.validate.firstname.minlength">
                                         Your firstname is required to be at least 2 characters
                                     </p>
                                     <p class="help-block"
                                        ng-show="form.firstname.$error.maxlength" translate="global.messages.validate.firstname.maxlength">
                                         Your firstname cannot be longer than 50 characters
                                     </p>
                                 </div>
                             </div>


                             <!-- Nom -->
                             <div class="col-md-2">
                                 <span translate="global.form.lastname">Last name</span>
                             </div>

                             <div class="col-md-4">
                                 <input type="text" class="form-control" name="lastname" placeholder="{{'global.form.lastname.placeholder' | translate}}"
                                        ng-model="user.personContactInformation.lastName" ng-minlength=2 ng-maxlength=50 required>
                                 <p>last name valid : {{ form.lastname.$valid }}</p>
                                 <div ng-show="form.lastname.$dirty && form.lastname.$invalid">
                                     <p class="help-block"
                                        ng-show="form.lastname.$error.required" translate="global.messages.validate.lastname.required">
                                         Your lastname is required.
                                     </p>
                                     <p class="help-block"
                                        ng-show="form.lastname.$error.minlength" translate="global.messages.validate.lastname.minlength">
                                         Your lastname is required to be at least 2 characters
                                     </p>
                                     <p class="help-block"
                                        ng-show="form.lastname.$error.maxlength" translate="global.messages.validate.lastname.maxlength">
                                         Your lastname cannot be longer than 50 characters
                                     </p>
                                 </div>
                             </div>
                         </div>

                         <br/>

                         <!-- Mail & Phone -->
                         <div class="row">

                             <!-- Mail -->
                             <div class="col-md-2">
                                 <span translate="global.form.mail">E-mail</span>
                             </div>

                             <div class="col-md-4">
                                 <input type="email" class="form-control" name="personMail" placeholder="{{'global.form.mail.placeholder' | translate}}"
                                        ng-model="user.personContactInformation.email" ng-minlength=5 ng-maxlength=50 required>
                                 <p>personMail valid : {{ form.personMail.$valid }}</p>
                                 <div ng-show="form.personMail.$dirty && form.personMail.$invalid">
                                     <p class="help-block"
                                        ng-show="form.personMail.$error.required" translate="global.messages.validate.personMail.required">
                                         Your contact e-mail is required.
                                     </p>
                                     <p class="help-block"
                                        ng-show="form.personMail.$error.minlength" translate="global.messages.validate.personMail.minlength">
                                         Your contact e-mail is required to be at least 5 characters
                                     </p>
                                     <p class="help-block"
                                        ng-show="form.personMail.$error.maxlength" translate="global.messages.validate.personMail.maxlength">
                                         Your contact e-mail cannot be longer than 50 characters
                                     </p>
                                     <p class="help-block"
                                        ng-show="form.personMail.$error.email" translate="global.messages.validate.personMail.invalid">
                                         Your contact e-mail is invalid.
                                     </p>
                                 </div>
                             </div>


                             <!-- Phone -->
                             <div class="col-md-2">
                                 <span translate="global.form.phone">Phone</span>
                             </div>

                             <div class="col-md-4">
                                 <input type="text" class="form-control" name="personPhone"
                                        placeholder="{{'global.form.phone.placeholder' | translate}}"
                                        ng-pattern="/^[0-9]{10}$/" ng-model="user.personContactInformation.phone" required>
                                 <p>personPhone valid : {{ form.personPhone.$valid }}</p>
                                 <div ng-show="form.personPhone.$dirty && form.personPhone.$invalid">
                                     <p class="help-block"
                                        ng-show="form.personPhone.$error.pattern" translate="global.messages.validate.personPhone.pattern">
                                         Your phone number is invalid.
                                     </p>
                                 </div>
                             </div>
                         </div>

                         <br/>

                         <!-- Address & Complement -->
                         <div class="row">

                             <!-- Address -->
                             <div class="col-md-2">
                                 <span translate="global.form.address">Address</span>
                             </div>

                             <div class="col-md-4">
                                 <input type="text" class="form-control" name="personAddress" placeholder="{{'global.form.address.placeholder' | translate}}"
                                        ng-model="user.personContactInformation.address.street" ng-minlength=5 ng-maxlength=50 required>
                             </div>
                             <br/>
                             <p>personAddress valid : {{ form.personAddress.$valid }}</p>



                             <!-- Complement -->
                             <div ng-if="user.personContactInformation.address.street">
                                 <div class="col-md-2">
                                     <span translate="global.form.address.complement.placeholder">Address complement</span>
                                 </div>

                                 <div class="col-md-4">
                                     <input type="text" class="form-control" name="personAdressComplement" placeholder="{{'global.form.address.complement.placeholder' | translate}}"
                                            ng-model="user.personContactInformation.address.adressComplement" required>
                                 </div>
                                 <p>personAdressComplement valid : {{ form.personAdressComplement.$valid }}</p>

                             </div>
                         </div>

                         <br/>

                         <!-- BP & Postal code -->
                         <div ng-if="user.personContactInformation.address.street">
                             <div class="row">

                                 <!-- BP -->
                                 <div class="col-md-2">
                                     <span translate="global.form.address.postOfficeBox">Post-office box</span>
                                 </div>

                                 <div class="col-md-4">
                                     <input type="number" class="form-control" name="personPostOfficeBox" placeholder="{{'global.form.address.postOfficeBox.placeholder' | translate}}"
                                            ng-model="user.personContactInformation.address.postalBox" ng-pattern="/^[0-9]{6}$/" required>

                                     <p>personPostOfficeBox valid : {{ form.personPostOfficeBox.$valid }}</p>


                                     <div ng-show="form.personPostOfficeBox.$dirty && form.personPostOfficeBox.$invalid">
                                         <p class="help-block"
                                            ng-show="form.personPostOfficeBox.$error.pattern" translate="global.messages.validate.personPostOfficeBox.pattern">
                                             Your post-office box must be 6 numbers.
                                         </p>
                                     </div>
                                 </div>


                                 <!-- Postal code -->
                                 <div class="col-md-2">
                                     <span translate="global.form.address.postalCode">Postal code</span>
                                 </div>

                                 <div class="col-md-4">
                                     <input type="number" class="form-control" name="personPostalCode" placeholder="{{'global.form.address.postalCode.placeholder' | translate}}"
                                            ng-model="user.personContactInformation.address.postalCode" ng-pattern="/^[0-9]{6}$/" required>

                                     <p>personPostalCode valid : {{ form.personPostalCode.$valid }}</p>


                                     <div ng-show="form.personPostalCode.$dirty && form.personPostalCode.$invalid">
                                         <p class="help-block"
                                            ng-show="form.personPostalCode.$error.pattern" translate="global.messages.validate.personPostalCode.pattern">
                                             Your BP must be 6 numbers.
                                         </p>
                                     </div>
                                 </div>
                             </div>

                             <br/>

                             <div class="row">

                                 <!-- City -->
                                 <div class="col-md-2">
                                     <span translate="global.form.address.city">City</span>
                                 </div>

                                 <p>personCity valid : {{ form.personCity.$valid }}</p>


                                 <div class="col-md-4">
                                     <input type="text" class="form-control" name="personCity" placeholder="{{'global.form.address.city.placeholder' | translate}}"
                                            ng-model="user.personContactInformation.address.city" required>
                                 </div>

                             </div>
                         </div>

                         <!-- Website -->
                         <div class="form-group">
                             <label translate="global.form.website">Web site</label>
                             <input type="url" class="form-control" name="personWebsite" placeholder="{{'global.form.website.placeholder' | translate}}"
                                    ng-model="user.personContactInformation.website" ng-minlength=10 ng-maxlength=255 required>
                             <p>website valid : {{ form.personWebsite.$valid }}</p>
                             <div ng-show="form.description.$dirty && form.description.$invalid">
                                 <p class="help-block"
                                    ng-show="form.description.$error.required" translate="global.messages.validate.description.required">
                                     Your description is required.
                                 </p>
                                 <p class="help-block"
                                    ng-show="form.description.$error.minlength" translate="global.messages.validate.description.minlength">
                                     Your description is required to be at least 255 characters
                                 </p>
                                 <p class="help-block"
                                    ng-show="form.description.$error.maxlength" translate="global.messages.validate.confirmpassword.maxlength">
                                     Your description cannot be longer than 255 characters
                                 </p>
                             </div>
                         </div>

                         <!-- Social Networks -->
                         <div class="form-group">
                             <label translate="global.form.socialNetwork">Social Networks</label>

                             <ul ng-form="itemsForm">
                                 <li ng-repeat="item in personSocialNetworkList" ng-form="itemForm">
                                     <label for="itemText">Entrée</label>
                                     <select ng-model="item.type">
                                         <option value="FACEBOOK">Facebook</option>
                                         <option value="TWITTER">Twitter</option>
                                         <option value="LINKEDIN">LinkedIn</option>
                                         <option value="GOOGLE_PLUS">Google Plus</option>
                                         <option value="VIADEO">Viadeo</option>
                                     </select>
                                     <input name="itemText" type="text" ng-model="item.address" required />
                                     <ul ng-show="itemForm.$invalid && itemForm.$dirty">
                                         <li ng-show="itemForm.itemText.$error.required">This field is required.</li>
                                     </ul>
                                 </li>
                             </ul>

                             <button ng-click="addElement(personSocialNetworkList)" ng-disabled="itemsForm.$invalid">Add an element</button>
                             <p>social valid : {{ form.SocialNetwork.$valid }}</p>
                         </div>


                         </div>

                         <!-- Company contact -->
                         <div class="form-group" ng-if="user.category == 'COMPANY'">

                         <label translate="global.form.companyInformation">Company information</label>

                         <!-- Company name -->
                         <div class="form-group">
                             <label translate="global.form.companyName">Company name</label>
                             <input type="text" class="form-control" name="companyCompanyName" placeholder="{{'global.form.companyName.placeholder' | translate}}"
                                    ng-model="user.companyContactInformation.companyName" ng-minlength=10 ng-maxlength=50 required>
                             <p> form.companyName valid : {{ form.companyName.$valid }}</p>
                             <div ng-show="form.companyCompanyName.$dirty && form.companyCompanyName.$invalid">
                                 <p class="help-block"
                                    ng-show="form.companyCompanyName.$error.required" translate="global.messages.validate.companyCompanyName.required">
                                     Your companyCompanyName is required.
                                 </p>
                                 <p class="help-block"
                                    ng-show="form.companyCompanyName.$error.minlength" translate="global.messages.validate.companyCompanyName.minlength">
                                     Your companyCompanyName is required to be at least 50 characters
                                 </p>
                             </div>
                         </div>


                         <br/>

                         <!-- Mail & Phone -->
                         <div class="row">

                             <!-- Mail -->
                             <div class="col-md-2">
                                 <span translate="global.form.mail">E-mail</span>
                             </div>

                             <div class="col-md-4">
                                 <input type="email" class="form-control" name="companyMail" placeholder="{{'global.form.mail.placeholder' | translate}}"
                                        ng-model="user.companyContactInformation.email" ng-minlength=5 ng-maxlength=50 required>
                                 <p>companyMail valid : {{ form.companyMail.$valid }}</p>
                                 <div ng-show="form.companyMail.$dirty && form.companyMail.$invalid">
                                     <p class="help-block"
                                        ng-show="form.companyMail.$error.required" translate="global.messages.validate.personMail.required">
                                         Your contact e-mail is required.
                                     </p>
                                     <p class="help-block"
                                        ng-show="form.companyMail.$error.minlength" translate="global.messages.validate.personMail.minlength">
                                         Your contact e-mail is required to be at least 5 characters
                                     </p>
                                     <p class="help-block"
                                        ng-show="form.companyMail.$error.maxlength" translate="global.messages.validate.personMail.maxlength">
                                         Your contact e-mail cannot be longer than 50 characters
                                     </p>
                                     <p class="help-block"
                                        ng-show="form.companyMail.$error.email" translate="global.messages.validate.personMail.invalid">
                                         Your contact e-mail is invalid.
                                     </p>
                                 </div>
                             </div>


                             <!-- Phone -->
                             <div class="col-md-2">
                                 <span translate="global.form.phone">Phone</span>
                             </div>

                             <div class="col-md-4">
                                 <input type="text" class="form-control" name="companyPhone"
                                        placeholder="{{'global.form.phone.placeholder' | translate}}"
                                        ng-pattern="/^[0-9]{10}$/" ng-model="user.companyContactInformation.phone" required>
                                 <p>companyPhone valid : {{ form.companyPhone.$valid }}</p>
                                 <div ng-show="form.companyPhone.$dirty && form.companyPhone.$invalid">
                                     <p class="help-block"
                                        ng-show="form.companyPhone.$error.pattern" translate="global.messages.validate.companyPhone.pattern">
                                         Your phone number is invalid.
                                     </p>
                                 </div>
                             </div>
                         </div>

                         <br/>

                         <!-- Address & Complement -->
                         <div class="row">

                             <!-- Address -->
                             <div class="col-md-2">
                                 <span translate="global.form.address">Address</span>
                             </div>

                             <div class="col-md-4">
                                 <input type="text" class="form-control" name="companyAddress" placeholder="{{'global.form.address.placeholder' | translate}}"
                                        ng-model="user.companyContactInformation.Address.street" ng-minlength=5 ng-maxlength=50 required>
                             </div>
                             <br/>
                             <p>companyAddress valid : {{ form.companyAddress.$valid }}</p>



                             <!-- Complement -->
                             <div ng-if="user.companyContactInformation.Address.street">
                                 <div class="col-md-2">
                                     <span translate="global.form.address.complement.placeholder">Address complement</span>
                                 </div>

                                 <div class="col-md-4">
                                     <input type="text" class="form-control" name="companyAdressComplement" placeholder="{{'global.form.address.complement.placeholder' | translate}}"
                                            ng-model="user.companyContactInformation.Address.adressComplement" required>
                                 </div>
                                 <p>companyAdressComplement valid : {{ form.companyAdressComplement.$valid }}</p>

                             </div>
                         </div>

                         <br/>

                         <!-- BP & Postal code -->
                         <div ng-if="user.companyContactInformation.Address.street">
                             <div class="row">

                                 <!-- BP -->
                                 <div class="col-md-2">
                                     <span translate="global.form.address.postOfficeBox">Post-office box</span>
                                 </div>

                                 <div class="col-md-4">
                                     <input type="number" class="form-control" name="companyPostOfficeBox" placeholder="{{'global.form.address.postOfficeBox.placeholder' | translate}}"
                                            ng-model="user.companyContactInformation.Address.postalBox" ng-pattern="/^[0-9]{6}$/" required>

                                     <p>companyPostOfficeBox valid : {{ form.companyPostOfficeBox.$valid }}</p>


                                     <div ng-show="form.companyPostOfficeBox.$dirty && form.companyPostOfficeBox.$invalid">
                                         <p class="help-block"
                                            ng-show="form.companyPostOfficeBox.$error.pattern" translate="global.messages.validate.personPostOfficeBox.pattern">
                                             Your post-office box must be 6 numbers.
                                         </p>
                                     </div>
                                 </div>


                                 <!-- Postal code -->
                                 <div class="col-md-2">
                                     <span translate="global.form.address.postalCode">Postal code</span>
                                 </div>

                                 <div class="col-md-4">
                                     <input type="number" class="form-control" name="companyPostalCode" placeholder="{{'global.form.address.postalCode.placeholder' | translate}}"
                                            ng-model="user.companyContactInformation.Address.postalCode" ng-pattern="/^[0-9]{6}$/" required>

                                     <p>companyPostalCode valid : {{ form.companyPostalCode.$valid }}</p>


                                     <div ng-show="form.companyPostalCode.$dirty && form.companyPostalCode.$invalid">
                                         <p class="help-block"
                                            ng-show="form.companyPostalCode.$error.pattern" translate="global.messages.validate.personPostalCode.pattern">
                                             Your BP must be 6 numbers.
                                         </p>
                                     </div>
                                 </div>
                             </div>

                             <br/>

                             <div class="row">

                                 <!-- City -->
                                 <div class="col-md-2">
                                     <span translate="global.form.address.city">City</span>
                                 </div>

                                 <p>companyCity valid : {{ form.companyCity.$valid }}</p>


                                 <div class="col-md-4">
                                     <input type="number" class="form-control" name="companyCity" placeholder="{{'global.form.address.city.placeholder' | translate}}"
                                            ng-model="user.companyContactInformation.Address.city" required>
                                 </div>

                             </div>
                         </div>

                         <div class="form-group">
                             <label translate="global.form.website">Web site</label>
                             <input type="url" class="form-control" name="companyWebsite" placeholder="{{'global.form.website.placeholder' | translate}}"
                                    ng-model="user.companyContactInformation.website" ng-minlength=10 ng-maxlength=255 required>
                             <p>companyWebsite valid : {{ form.companyWebsite.$valid }}</p>
                             <div ng-show="form.description.$dirty && form.description.$invalid">
                                 <p class="help-block"
                                    ng-show="form.description.$error.required" translate="global.messages.validate.description.required">
                                     Your description is required.
                                 </p>
                                 <p class="help-block"
                                    ng-show="form.description.$error.minlength" translate="global.messages.validate.description.minlength">
                                     Your description is required to be at least 255 characters
                                 </p>
                                 <p class="help-block"
                                    ng-show="form.description.$error.maxlength" translate="global.messages.validate.confirmpassword.maxlength">
                                     Your description cannot be longer than 255 characters
                                 </p>
                             </div>
                         </div>

                         <!-- Social Networks -->
                         <div class="form-group">
                             <label translate="global.form.socialNetwork">Social Networks</label>

                             <ul ng-form="itemsForm">
                                 <li ng-repeat="item in companySocialNetworkList" ng-form="itemForm">
                                     <label for="itemText">Entrée</label>
                                     <select ng-model="item.type">
                                         <option value="FACEBOOK">Facebook</option>
                                         <option value="TWITTER">Twitter</option>
                                         <option value="LINKEDIN">LinkedIn</option>
                                         <option value="GOOGLE_PLUS">Google Plus</option>
                                         <option value="VIADEO">Viadeo</option>
                                     </select>
                                     <input name="itemText" type="text" ng-model="item.address" required />
                                     <ul ng-show="itemForm.$invalid && itemForm.$dirty">
                                         <li ng-show="itemForm.itemText.$error.required">This field is required.</li>
                                     </ul>
                                 </li>
                             </ul>

                             <button ng-click="addElement(companySocialNetworkList)" ng-disabled="itemsForm.$invalid">Add an element</button>
                             <p>social valid : {{ form.SocialNetwork.$valid }}</p>
                         </div>

                         </div>

                         <!-- SIREN -->
                         <div ng-if="user.category == 'FREELANCE' || user.category == 'COMPANY'"
                              class="form-group">
                             <label translate="global.form.siren">SIREN</label>
                             <input type="text" class="form-control" name="description" placeholder="{{'global.form.siren.placeholder' | translate}}"
                                    ng-model="user.siren" ng-minlength=10 ng-maxlength=255 required>
                             <p>siren valid : {{ form.description.$valid }}</p>
                         </div>

                         <!-- Sector and domain -->
                         <div class="form-group">
                             <label translate>Sector and domain</label><br/>
                             <div class="row">

                                 <div class="col-md-4">
                                     <span translate="register.form.sector.various">various</span><br/>
                                     <span translate="register.form.sector.aviation">aviation</span><br/>
                                     <span translate="register.form.sector.administration">administration</span><br/>
                                     <span translate="register.form.sector.webSiteDesign">webSiteDesign</span><br/>
                                     <span translate="register.form.sector.computerScience">computerScience</span><br/>
                                 </div>

                                 <div class="col-md-2">
                                     <input type="checkbox" ng-model="user.sector" ng-true-value="'various'" ng-false-value="null"><br/>
                                     <input type="checkbox" ng-model="user.sector" ng-true-value="'aviation'" ng-false-value="null"><br/>
                                     <input type="checkbox" ng-model="user.sector" ng-true-value="'administration'" ng-false-value="null"><br/>
                                     <input type="checkbox" ng-model="user.sector" ng-true-value="'webSiteDesign'" ng-false-value="null"><br/>
                                     <input type="checkbox" ng-model="user.sector" ng-true-value="'computerScience'" ng-false-value="null"><br/>
                                 </div>

                                 <div class="col-md-4">
                                     <span translate="global.form.field.systemIntegration">System integration</span><br/>
                                     <span translate="global.form.field.consulting">Consulting</span><br/>
                                     <span translate="global.form.field.outsourcing">Outsourcing</span><br/>
                                 </div>

                                 <div class="col-md-2">
                                     <input type="checkbox" ng-model="user.fields" ng-true-value="'systemIntegration'" ng-false-value="null"><br/>
                                     <input type="checkbox" ng-model="user.fields" ng-true-value="'consulting'" ng-false-value="null"><br/>
                                     <input type="checkbox" ng-model="user.fields" ng-true-value="'outsourcing'" ng-false-value="null"><br/>
                                 </div>

                             </div>
                         </div>

                         <!-- Customers -->
                         <div class="form-group">
                             <label translate>Competencies and customers</label><br/>
                             <div class="row">

                             </div>
                         </div>





                     </div>

                     <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                             <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                         </button>
                      <!--   <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary"> -->
                             <button type="submit" class="btn btn-primary">
                             <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                         </button>
                     </div>


                 </form>







             </div>
         </div>
     </div>



 </div>

