 <div>
   <div class="modal fade" id="deleteUserConfirmation">
     <div class="modal-dialog">
        <div class="modal-content">

            <form name="form" ng-submit="confirmDelete(user.login)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                </div>
                <div class="modal-body">
                    <p translate="user.delete.question" translate-values="{login: '{{user.login}}'}">Are you sure you want to delete this user {{user.login}}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
               <!--     <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger"> -->
                    <button type="submit"  class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                    </button>
                </div>
            </form>
           </div>
     </div>
   </div>

    <!-- <span translate="user.search"> Recherche : </span> -->


    <div class="panel panel-default">
        <div class="panel-heading">
            <input type="text" class="form-control" id="query" ng-model="query" placeholder="Search..."/>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>Login</th>
                            <th translate="user.companyContactInformation.companyName">Company Name</th>
                            <th translate="user.personContactInformation.firstName">First Name</th>
                            <th translate="user.personContactInformation.lastName">Last Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
                <div class="div-table-content-users">
                    <table class="table table-striped table-hover table-condensed table-bordered">
                        <tbody>
                            <tr ng-repeat="user in users | filter:query">
                                <td><a ui-sref="userDetail({login:user.login, readonly:'true'})" ng-class="{'text-danger' : !user.validatedByAdmin, 'text-success' : user.validatedByAdmin}" ><strong>{{user.login}}</strong></a></td>
                                <td>{{user.companyContactInformation.companyName}}</td>
                                <td>{{user.personContactInformation.lastName}}</td>
                                <td>{{user.personContactInformation.firstName}}</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="...">
                                        <button type="submit"
                                                ui-sref="userDetail({login:user.login, readonly:'true'})"
                                                class="btn btn-info">
                                            <span class="glyphicon glyphicon-eye-open"
                                                title="{{ 'entity.action.view' | translate }}"></span>&nbsp;
                                        </button>
                                        <button type="submit"
                                                ui-sref="userDetail({login:user.login, readonly:'false'})"
                                                
                                                class="btn btn-primary">
                                            <span class="glyphicon glyphicon-pencil"
                                                title="{{ 'entity.action.edit' | translate }}"></span>&nbsp;
                                        </button>
                                        <button type="submit"
                                                ng-click="validate(user.login)"
                                                class="btn btn-success">
                                            <span class="glyphicon glyphicon-thumbs-up"
                                                  title="{{ 'entity.action.validate' | translate }}"></span>&nbsp;
                                        </button>
                                        <button type="submit"
                                                ng-click="delete(user.login)"
                                                class="btn btn-danger">
                                            <span class="glyphicon glyphicon-remove-circle"
                                                title="{{ 'entity.action.delete' | translate }}"></span>&nbsp;
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    
    <!-- <div ui-view="" autoscroll="false"></div> -->
    <div ui-view="" ></div>

   <!-- TODO le formulaire n'est pas complet et sa validation n'est pas activé
        TODO la sauvegarde des modification n'est pas effective
    -->

     <div class="modal fade" id="saveUserModal" tabindex="-1" role="dialog" aria-labelledby="myUserLabel"
          aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content">

                 <!-- Messages d'erreurs pour la validation du formulaire -->

                 <div class="alert alert-success" ng-show="success" translate="settings.messages.success">
                     <strong>Settings saved!</strong>
                 </div>

                 <div class="alert alert-danger" ng-show="errorEmailExists" translate="settings.messages.error.emailexists">
                     <strong>E-mail is already in use!</strong> Please choose another one.
                 </div>

                 <div class="alert alert-danger" ng-show="error" translate="settings.messages.error.fail">
                     <strong>An error has occurred!</strong> Settings could not be saved.
                 </div>


                 <form name="form" role="form" novalidate
                       class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                       ng-submit="create()">

                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                 ng-click="clear()">&times;</button>
                         <h4 class="modal-title" id="myUserLabel" translate="user.home.createOrEditLabel">Create or edit a User</h4>
                     </div>


                     <div class="modal-body">
                        <div ui-sref="userDetail({login:user.login})"></div>
                     </div>

                     <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                             <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                         </button>
                      <!--   <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary"> -->
                             <button type="submit" class="btn btn-primary">
                             <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                         </button>
                     </div>


                 </form>







             </div>
         </div>
     </div>



 </div>

