<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 translate="register.title">Registration</h1>

            <div class="alert alert-success" ng-show="success" translate="register.messages.success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" ng-show="error" translate="register.messages.error.fail">
                <strong>Registration failed!</strong> Please check your input and try again.
            </div>

            <div class="alert alert-danger" ng-show="errorUserExists" translate="register.messages.error.userexists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="errorEmailExists" translate="register.messages.error.emailexists">
                <strong>E-mail is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch" translate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>

            <form ng-show="!success" name="form" role="form" novalidate ng-submit="register()" show-validation>

                <div class="panel panel-info">
                  <div class="panel-heading" translate="register.form.panelHeading.connectionInformation">
                    Informations de connexion. Ces informations ne seront pas visibles.
                  </div>
                  <div class="panel-body">
                    <!-- Login -->
                    <nm-login ng-model="registerAccount.login"></nm-login>

                    <!-- E-mail -->
                    <div class="form-group">
                        <nm-mail ng-model="registerAccount.email"></nm-mail>
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                        <label translate="global.form.newpassword">New password</label>
                        <input type="password" class="form-control" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                               ng-model="registerAccount.password" ng-minlength=5 ng-maxlength=50 required>
                        <div ng-show="form.password.$dirty && form.password.$invalid">
                            <p class="help-block"
                                   ng-show="form.password.$error.required" translate="global.messages.validate.newpassword.required">
                                Your password is required.
                            </p>
                            <p class="help-block"
                                   ng-show="form.password.$error.minlength" translate="global.messages.validate.newpassword.minlength">
                                Your password is required to be at least 5 characters
                            </p>
                            <p class="help-block"
                                   ng-show="form.password.$error.maxlength" translate="global.messages.validate.newpassword.maxlength">
                                Your password cannot be longer than 50 characters
                            </p>
                        </div>
                        <password-strength-bar password-to-check="registerAccount.password"></password-strength-bar>
                    </div>

                    <!-- Password confirmation -->
                    <div class="form-group">
                        <label translate="global.form.confirmpassword">New password confirmation</label>
                        <input type="password" class="form-control" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                               ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                        <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                            <p class="help-block"
                                   ng-show="form.confirmPassword.$error.required" translate="global.messages.validate.confirmpassword.required">
                                Your password confirmation is required.
                            </p>
                            <p class="help-block"
                                   ng-show="form.confirmPassword.$error.minlength" translate="global.messages.validate.confirmpassword.minlength">
                                Your password confirmation is required to be at least 5 characters
                            </p>
                            <p class="help-block"
                                   ng-show="form.confirmPassword.$error.maxlength" translate="global.messages.validate.confirmpassword.maxlength">
                                Your password confirmation cannot be longer than 50 characters
                            </p>
                        </div>
                    </div>

                  </div>
                </div>

                <!-- Informations identité -->
                <div class="panel panel-warning">
                  <div class="panel-heading" translate="register.form.panelHeading.mapInformation">
                    Ces informations seront visibles sur la carte par les visiteurs du site.
                  </div>
                  <div class="panel-body">

                    <!-- Description -->
                    <nm-description ng-model="registerAccount.description" /></nm-description>

                    <!-- Category -->
                    <div class="form-group">
                        <label translate="global.form.category">Category</label><br/>
                        <select class="form-control"
                          ng-model="registerAccount.category"
                          ng-options="opt.value as opt.translationKey | translate for opt in categories">
                        </select>
                    </div>

                    <!-- Company contact -->
                    <div class="panel panel-default" ng-if="registerAccount.category == 'COMPANY' || registerAccount.category == 'ASSOCIATION'">
                      <div class="panel-heading">
                        <label translate="global.form.companyInformation">Company information</label>
                      </div>
                      <ul class="list-group">
                        <li class="list-group-item">
                             <nm-name ng-model="registerAccount.CompanyContactInformation.name"></nm-name>
                        </li>
                        <li class="list-group-item">

                          <!-- Mail & Phone -->
                          <div class="row">

                            <!-- Mail -->
                            <div class="col-lg-6">
                                <nm-mail ng-model="registerAccount.CompanyContactInformation.email"></nm-mail>
                            </div>

                            <!-- Phone -->
                            <div class="col-lg-6">
                                <nm-phone ng-model="registerAccount.CompanyContactInformation.phone"></nm-phone>
                            </div>

                          </div>
                        </li>
                        <li class="list-group-item">
                          <!-- Address & Complement -->
                          <div class="row">
                              <!-- Address -->
                              <div class="col-lg-6">
                                <nm-address ng-model="registerAccount.CompanyContactInformation.Address.street"></nm-address>
                              </div>

                              <!-- Complement -->
                              <div class="col-lg-6">
                                <nm-complement ng-model="registerAccount.CompanyContactInformation.Address.adressComplement"></nm-complement>
                              </div>
                          </div>

                          <!-- BP & Postal code -->
                          <div class="row">
                            <!-- BP -->
                            <div class="col-lg-6">
                                <nm-bp ng-model="registerAccount.CompanyContactInformation.Address.postalBox"></nm-bp>
                            </div>

                            <!-- Postal code -->
                            <div class="col-lg-6">
                                <nm-postalcode ng-model="registerAccount.CompanyContactInformation.Address.postalCode"></nm-postalcode>
                            </div>
                          </div>

                            <!-- City -->
                            <nm-city ng-model="registerAccount.CompanyContactInformation.Address.city"></nm-city>
                        </li>
                        <li class="list-group-item">
                            <nm-website ng-model="registerAccount.CompanyContactInformation.website"></nm-website>
                        </li>
                        <li class="list-group-item">
                          <!-- Social Networks -->
                          <div class="form-group">
                            <label translate="global.form.socialNetwork">Social Networks</label>

                            <ul ng-form="itemsForm">
                                <li ng-repeat="item in companySocialNetworkList" ng-form="itemForm">
                                    <label for="itemText">Entrée</label>
                                      <select ng-model="item.type">
                                        <option value="FACEBOOK">Facebook</option>
                                        <option value="TWITTER">Twitter</option>
                                        <option value="LINKEDIN">LinkedIn</option>
                                        <option value="GOOGLE_PLUS">Google Plus</option>
                                        <option value="VIADEO">Viadeo</option>
                                    </select>
                                    <input name="itemText" type="text" ng-model="item.address" required />
                                    <ul ng-show="itemForm.$invalid && itemForm.$dirty">
                                         <li ng-show="itemForm.itemText.$error.required">This field is required.</li>
                                     </ul>
                                 </li>
                             </ul>

                             <button ng-click="addElement(companySocialNetworkList)" ng-disabled="itemsForm.$invalid">Add an element</button>
                          </div>
                        </li>
                      </ul>
                    </div>

                    <!-- Personal information question -->
                    <div ng-show="registerAccount.category == 'COMPANY' || registerAccount.category == 'ASSOCIATION'">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"
                          ng-model="personInformation"
                          ng-true-value="true"
                          ng-false-value="false">
                          <p ng-if="registerAccount.category == 'COMPANY'">
                            Ajouter les informations personnelles d'un contact dans l'entreprise (CEO / Acceuil / RH etc.)
                          </p>
                          <p ng-if="registerAccount.category == 'ASSOCIATION'">
                            Ajouter les informations personnelles d'un contact dans l'association (Président / Pôle communicatio
                          n)</p>
                        </label>
                      </div>
                    </div>

                    <!-- Person contact -->
                    <div ng-if="registerAccount.category == 'STUDENT' ||
                                registerAccount.category == 'PROFESSOR' ||
                                registerAccount.category == 'FREELANCE' ||
                                personInformation == true"
                      class="panel panel-default">
                      <div class="panel-heading">
                        <label translate="global.form.contactInformation">Coordonnées</label>
                      </div>
                      <div class="panel-body">
                        <p ng-if="registerAccount.category == 'STUDENT'">
                          Vous êtes étudiant. Indiquez vos informations de contact. L'adresse est optionnelle.
                        </p>

                        <p ng-if="registerAccount.category == 'COMPANY'">
                          Contact dans l'entreprise (secrétaire, RH, patron...).
                        </p>
                      </div>

                      <ul class="list-group">
                        <li class="list-group-item" ng-show="registerAccount.category === 'STUDENT' ||
                          registerAccount.category === 'PROFESSOR'">

                           <!-- Ecole -->
                            <nm-school ng-model="registerAccount.schoolId"></nm-school>

                        </li>
                        <li class="list-group-item">
                          <!-- Lastname & Firstname -->
                          <div class="row">
                              <!-- First name -->
                              <div class="col-lg-6">
                                <nm-firstname ng-model="registerAccount.PersonContactInformation.firstName"></nm-firstname>
                              </div>

                              <!-- Last name -->
                              <div class="col-lg-6">
                                <nm-lastname ng-model="registerAccount.PersonContactInformation.lastName"></nm-lastname>
                              </div>
                          </div>
                        </li>
                        <li class="list-group-item">
                          <!-- Mail & Phone -->
                          <div class="row">
                            <!-- Mail -->
                            <div class="col-lg-6">
                                <nm-mail ng-model="registerAccount.PersonContactInformation.email"></nm-mail>
                            </div>

                            <!-- Phone -->
                            <div class="col-lg-6">
                                <nm-phone ng-model="registerAccount.PersonContactInformation.phone"></nm-phone>
                          </div>
                        </li>
                        <li class="list-group-item">
                          <!-- Address & Complement -->
                          <div class="row">
                            <!-- Address -->
                            <div class="col-lg-6">
                              <nm-address ng-model="registerAccount.PersonContactInformation.Address.street"></nm-address>
                            </div>
                            <!-- Complement -->
                            <div class="col-lg-6">
                                <nm-complement ng-model="registerAccount.PersonContactInformation.Address.adressComplement"></nm-complement>
                            </div>
                          </div>
                          <!-- BP & Postal code -->
                          <div class="row">

                              <!-- BP -->
                              <div class="col-lg-6">
                                <nm-bp ng-model="registerAccount.PersonContactInformation.Address.postalBox"></nm-bp>
                              </div>

                              <!-- Postal code -->
                              <div class="col-lg-6">
                                <nm-postalcode ng-model="registerAccount.PersonContactInformation.Address.postalCode"></nm-postalcode>
                              </div>

                          </div>
                          <!-- City -->
                            <nm-city ng-model="registerAccount.PersonContactInformation.Address.city"></nm-city>
                        </li>
                        <li class="list-group-item">
                            <!-- Website -->
                            <nm-website ng-model="registerAccount.PersonContactInformation.website"></nm-website>
                        </li>
                        <li class="list-group-item">
                          <!-- Social Networks -->
                          <div class="form-group">
                              <label translate="global.form.socialNetwork">Social Networks</label>

                              <ul ng-form="itemsForm">
                                  <li ng-repeat="item in personSocialNetworkList" ng-form="itemForm">
                                      <label for="itemText">Entrée</label>
                                        <select ng-model="item.type">
                                          <option value="FACEBOOK">Facebook</option>
                                          <option value="TWITTER">Twitter</option>
                                          <option value="LINKEDIN">LinkedIn</option>
                                          <option value="GOOGLE_PLUS">Google Plus</option>
                                          <option value="VIADEO">Viadeo</option>
                                      </select>
                                      <input name="itemText" type="text" ng-model="item.address" required />
                                      <ul ng-show="itemForm.$invalid && itemForm.$dirty">
                                           <li ng-show="itemForm.itemText.$error.required">This field is required.</li>
                                       </ul>
                                   </li>
                               </ul>

                               <button ng-click="addElement(personSocialNetworkList)" ng-disabled="itemsForm.$invalid">Add an element</button>
                          </div>
                        </li>
                      </ul>
                    </div>

                    <!-- SIREN -->
                    <div ng-if="registerAccount.category == 'FREELANCE' || registerAccount.category == 'COMPANY'" >
                        <nm-siren ng-model="registerAccount.siren"></nm-siren>
                    </div>

                    <!-- Numéro déclaratif Association -->
                    <div ng-if="registerAccount.category == 'ASSOCIATION'"
                    class="form-group">
                      <label for="associationNumber" translate="global.form.associationNumber">Association number</label>
                      <input type="text" class="form-control" name="associationNumber" placeholder="{{'global.form.associationNumber.placeholder' | translate}}"
                             ng-model="registerAccount.associationNumber" ng-minlength=10 ng-maxlength=255 required>
                    </div>
                  </div>
                </div>

                <div class="panel panel-info">
                  <div class="panel-heading" translate="register.form.panelHeading.professionnalInformation">
                    Informations professionnelles
                  </div>
                  <div class="panel-body">

                    <!-- Sectors -->
                    <nm-sector ng-model="sectors"></nm-sector>

                    <!-- Fields -->
                    <nm-field ng-model="fields"></nm-field>

                    <!-- Competencies -->
                    <div class="form-group">
                     <label>Competencies</label>
                      <tags-input ng-model="competenciesSelected"
                        display-property="name"
                        placeholder="Add a competence / Ajouter une compétence"
                        add-on-space="true"
                        min-length="1"
                        add-from-autocomplete-only="true">
                        <auto-complete source="loadTags($query)"
                          display-property="name"
                          min-length="1"
                          max-results-to-show="5"></auto-complete>
                      </tags-input>
                    </div>
                  </div>
                </div>


                <!--<button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="register.form.button">Register</button>-->
                <button type="submit" class="btn btn-primary" translate="register.form.button">Register</button>
            </form>
            <p></p>
            <div class="alert alert-warning" translate="global.messages.info.authenticated">
                If you want to <a href="#/login">authenticate</a>, you can try the default login="admin" and
                password="admin".
            </div>
        </div>
    </div>
</div>